version: '3'

services:
  node-app:
    build:
      context: .
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
    depends_on:
      - mysql

  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes:
      - mysql-db:/var/lib/mysql
    # ports:
    #   - '3306:3306' # use this if you want to access db using GUI Tools (Beekeeper Studio, DBeaver Community, MySQL Workbench, etc...)

volumes:
  mysql-db:
