version: '3'

services:
  node-app:
    build:
      context: .
      target: dev
    ports:
      - '3000:3000'
    volumes:
      - ./:/app:ro
      - /app/node_modules
    # environment:
    #   - PORT=3000
    env_file:
      - ./.env
