version: '3'

services:
  node-app:
    build:
      context: .
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
    depends_on:
      - mysql

  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes:
      - mysql-db:/var/lib/mysql

  redis:
    image: redis

volumes:
  mysql-db:
