version: '3'

services:
  node-app:
    build:
      context: .
    ports:
      - '3000:3000'
    environment:
      - PORT=3000

  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
      MYSQL_DATABASE: test_db
      MYSQL_USER: mugil
      MYSQL_PASSWORD: password
    volumes:
      - mysql-db:/var/lib/mysql
    # ports:
    #   - '3306:3306' # use this if you want to access db using GUI Tools (Beekeeper Studio, DBeaver Community, MySQL Workbench, etc...)

volumes:
  mysql-db:
